<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buchhandlung</title>
    <meta name="description" content="a bookstore commerce site - for showcasing purpose">
    <meta name="nrajan" content="bookstore">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>
      55555555555555555      000000000          000000000
      5::::::::::::::::5    00:::::::::00      00:::::::::00
      5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
      5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
      5:::::5            0::::::0   0::::::00::::::0   0::::::0
      5:::::5            0:::::0     0:::::00:::::0     0:::::0
      5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
      5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
      555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
                  5:::::50:::::0     0:::::00:::::0     0:::::0
                  5:::::50:::::0     0:::::00:::::0     0:::::0
      5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
      5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
       55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
         55:::::::::55      00:::::::::00      00:::::::::00
           555555555          000000000          000000000
    </h1>
    <br>
    <h5 class="subtitle">Internal Server Error</h5>
    <h5>A team of highly trained penguins is working on this as we speak.</h5>
  </body>
</html>
