<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <%# IE compability mode, instruct IE to use the latest supported mode with edge mode%>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Buchhandlung</title>
    <meta name="description" content="a bookstore commerce site - for showcasing purpose">
    <meta name="nrajan" content="bookstore">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bs-flatly.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
  </head>
  <body>
    <%# as suggested by stripe documentation we are including this file site wide to take advantage of their advanced fraud functionality, %>
    <script>
      Stripe.setPublishableKey('pk_test_drQKVdeYKohH6VF1nM1L9Q5e');
    </script>

    <% include _navbar %>

    <% if(error && error.length > 0) { %>
      <div class="container">
      <% if(Array.isArray(error)) { %>
        <% error.forEach(function(err) { %>
            <div class="alert alert-danger alert-dismissable fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p><%- err %></p>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <div class="alert alert-danger alert-dismissable fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p><%- error %></p>
        </div>
      <% } %>
      </div>
    <% } else if(success && success.length > 0) { %>
      <div class="container">
        <div class="alert alert-success alert-dismissable fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p><%- success %></p>
        </div>
      </div>
    <% } %>
