<% include ./../layouts/_header %>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-offset-2">
        <div class="well">
          <h3>
            444444444       000000000            444444444
           4::::::::4     00:::::::::00         4::::::::4
          4:::::::::4   00:::::::::::::00      4:::::::::4
         4::::44::::4  0:::::::000:::::::0    4::::44::::4
        4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
       4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
      4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
     4::::444444::::4440:::::0 000 0:::::04::::444444::::444
     4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
     4444444444:::::4440:::::0     0:::::04444444444:::::444
               4::::4  0:::::0     0:::::0          4::::4
               4::::4  0::::::0   0::::::0          4::::4
               4::::4  0:::::::000:::::::0          4::::4
             44::::::44 00:::::::::::::00         44::::::44
             4::::::::4   00:::::::::00           4::::::::4
             4444444444     000000000             4444444444
          </h3>
          <br>
          <h5 class="subtitle">Page doesn't exist</h5>
          <h5>The page you were trying to reach doesn't exist.</h5>
          <a href="http://en.wikipedia.org/wiki/HTTP_404">Why</a> might this be happening?
        </div>
      </div>
    </div>
  </div>

<% include ./../layouts/_footer %>
