<% include ./../layouts/_header %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="text-center">Reset Password</h1>
      <hr>
      <div class="panel">
        <div class="panel-body">
          <form action="/users/forgot" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrf %>">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email"
              value="<%= email %>" placeholder="Email Address" autofocus required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block"
                data-disable-with="<i class='fa fa-spinner fa-spin'></i>
                Reseting...">Reset Password
              </button>
            </div>
          </form>
          <div class="text-center">
            <p>
              Back to <a href="/users/signin">sign in</a> page
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./../layouts/_footer %>
